# Virtual environments
backend_venv/
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
wheels/


# Environment variables
.env

# macOS
.DS_Store

# IDE
.idea/
.vscode/
